<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %> 

    <link rel="stylesheet" href="/css/style.css">

<body>

    <%- include("../partials/header")  %>
    
    <main>
        <section class="acerca-nosotros">
            <h3>Acerca de Nosotros</h3>
            <p>Somos una empresa moderna y joven que se dedica a la venta de articulos deportivos de alta calidad para los deportes y actividades más exigentes. Nos enfocamos en competiciones de alto rendimiento y también en el máximo bienestar para las actividades cotidianas.
            </p>
            <p>Nos proponemos acompañarte en todos tus movimientos, ofreciéndote el producto justo para tu estilo de vida y tus actividades. Tenemos algo pensado para vos, donde quiera que estés.</p>
        </section>
    </main>

    <%- include ("../partials/footer") %> 
         
</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>