<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %> 

    <link rel="stylesheet" href="/css/style.css">

<body>

    <%- include("../partials/header")  %>
    
    <main>
        
        <section class="faqs">
            <h3>Preguntas Frecuentes</h3>
            <ul class="list-faqs">
                <li><a href=#>¿Cómo comprar?</a></li>
                <li><a href=#>¿Cuánto tiempo demoran las entregas?</a></li>
                <li><a href=#>No recibí número de pedido, ¿cómo lo obtengo?</a></li>
                <li><a href=#>¿Puedo devolver mi producto?</a></li>
                <li><a href=#>¿Con quién me contacto para un cambio?</a></li>
                <li><a href=#>¿Puedo retirar en tienda?</a></li>
                <li><a href=#>¿Cómo hicieron para que la página les quede tan buena?</a></li>
            </ul>
            <br>
            <h3>¿Todavía tenés dudas?</h3>
            <p>Escribinos a: <a class='mailing' href=#>consultas@shoeswing.com</a></p>
        </section>
        
    </main>

    <%- include ("../partials/footer") %> 
    
</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>