<footer>
    <div>
        <img src="/img/Logo blanco.png" alt="logo">
    </div>
    
    <div class="elemento-footer">
        <h4> Nosotros </h4>
        <p><a href="/nosotros">Acerca de Nosotros</a></p>
        <p><a href="/contacto">Contacto</a></p>
    </div>
    
    <div class="elemento-footer">
        <h4> Más información </h4>
        <p><a href="/mediosDePago">Medios de Pago</a></p>
        <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
        <p><a href="/politicasEnvio">Políticas de envío</a></p>
    </div>
    
    <div class="elemento-footer">
        <h4> Seguinos </h4>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
</footer>