<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShoesWing</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
<body>

    <header>
        <div class="logo">
        <img src="/img/Logo shoes.png" class="imagen-logo" alt="logo">
        <h2>ShoesWing</h2>
        </div>
        <nav class="top-navbar">
            <ul>
                <li type="none"><a href="/">Inicio</a></li>
                <li type="none"><a href="/register"> Registrarse</a></li>
                <li type="none"><a href="/login"> Mi Cuenta</a></li>
            </ul>
            <ul>
                <li type="none" class="search-bar" ><form action="" class=""><input type="text" placeholder="Buscar..."><button type="sumbit"><i class="fa-solid fa-magnifying-glass"></i></button></form> </li>
                <li type="none"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        </header>

        <main>

            <form class="form-group" action="/add-product" method="post">
                <label class="eti-add-prduct" for="product-id">ID Producto:</label><br>
                <input class="in-add-prduct" type="text" id="product-id" name="product-id"><br>
                <label class="eti-add-prduct" for="product-name">Nombre del producto:</label><br>
                <input class="in-add-prduct" type="text" id="product-name" name="product-name"><br>
                <label class="eti-add-prduct" for="product-description">Descripcion del producto:</label><br>
                <textarea id="product-description" name="product-description"></textarea><br>
                <label class="eti-add-prduct" for="product-price">Precio del producto:</label><br>
                <input class="in-add-prduct" type="number" id="product-price" name="product-price"><br>
                <label class="eti-add-prduct" for="product-photo">Foto del producto:</label><br>
                <input class="in-add-prduct" type="file" id="product-photo" name="product-photo"><br><br>
                <input class="in-add-prduct" type="submit" value="Agregar Producto">
              </form> 
              
              
        </main>

        <footer>
            <div>
                <img src="/img/Logo blanco.png" alt="logo">
            </div>
            <div class="elemento-footer">
                <h4> Nosotros </h4>
                <p><a href="/nosotros">Acerca de Nosotros</a></p>
                <p><a href="/contacto">Contacto</a></p>
            </div>
            <div class="elemento-footer">
                <h4> Más información </h4>
                <p><a href="/mediosDePago">Medios de Pago</a></p>
                <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
                <p><a href="/politicasEnvio">Políticas de envío</a></p>
            </div>
            <div class="elemento-footer">
                <h4> Seguinos </h4>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                </div>
            </footer>
    
</body>


</html>