<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>

    <%- include("./partials/header")  %>
    
    <main>
        <section class="contacto">
            <h3>Local Comercial</h3>
            <p>Encontranos en el South Bay Center, a 5 minutos del centro de la ciudad</p>
            <img src="img/map_contact.jpg" alt="Ubicacion del Local">
            <br>
            <br>
            <h3>Teléfono</h3>
            <p>(0351)157 890 567</p>
        </section>
        
    </main>

    <%- include ("./partials/footer") %>        
    
</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>