<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>

    <%- include("./partials/header")  %>
    
    <main>
        <section class="contacto">
            <h3>Local Comercial</h3>
            <p>Encontranos en el South Bay Center, a 5 minutos del centro de la ciudad</p>
            <img src="img/map_contact.jpg" alt="Ubicacion del Local">
            <br>
            <br>
            <h3>Teléfono</h3>
            <p>(0351)157 890 567</p>
        </section>
        
    </main>


    <footer>
    <div>
        <img src="/img/Logo blanco.png" alt="logo">
    </div>
    <div class="elemento-footer">
        <h4> Nosotros </h4>
        <p><a href="/nosotros">Acerca de Nosotros</a></p>
        <p><a href="/contacto">Contacto</a></p>
    </div>
    <div class="elemento-footer">
        <h4> Más información </h4>
        <p><a href="/mediosDePago">Medios de Pago</a></p>
        <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
        <p><a href="/politicasEnvio">Políticas de envío</a></p>
    </div>
    <div class="elemento-footer">
        <h4> Seguinos </h4>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>

    
    
</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>