<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesWing</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
    <div class="logo">
    <img src="/img/Logo shoes.png" class="imagen-logo" alt="logo">
    <h2>ShoesWing</h2>
    </div>
    <nav class="top-navbar">
        <ul>
            <li type="none"><a href="/">Inicio</a></li>
            <li type="none"><a href="/register"> Registrarse</a></li>
            <li type="none"><a href="/login"> Mi Cuenta</a></li>
        </ul>
        <ul>
            <li type="none" class="search-bar" ><form action="" class=""><input type="text" placeholder="Buscar..."><button type="sumbit"><i class="fa-solid fa-magnifying-glass"></i></button></form> </li>
            <li type="none"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
    </header>

    <main>
    <div class="banner">
    <img src="/img/banner-ejemplo.jpg" alt="banner">
    </div>
    <section class="colecciones">
    <h3>Colecciones</h3>
    <div class="imagenes-col">
    <img src="/img/coleccion-1.jpg" alt="">
    <h3>Deporte</h3>
    </div>
    <div class="imagenes-col">
    <img src="/img/coleccion-2.jpg" alt="">
    <h3>Urbano</h3>
    </div>
    </section>

    <section class="productos-destacados">
        <h3>Productos Destacados</h3>
        <div class="productos-destacados">
            <article>
                <img src="img/campera_fila.jpg" alt="Campera" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$16.770</p>
                    <p class="discount">20% off</p>
                    <h4 class="description">Campera Fila Energy</h4>
                    <button class="ver-mas" onclick="window.location.href='/productDetail'">Ver Más</button>
                </div>
            </article>
            <article>
                <img src="img/short_adidas.jpg" alt="Short de futbol" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$12.700</p>
                    <p class="discount">15% off</p>
                    <h4 class="description">Short Argentina Adidas</h4>
                    <button class="ver-mas" onclick="window.location.href='/productDetail'">Ver Más</button>
                </div>
            </article>
            <article>
                <img src="img/zapatilla_nike.jpg" alt="Zapatillas" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">23.999</p>
                    <p class="discount">30% off</p>
                    <h4 class="description">Zapatillas Nike Air Max</h4>
                    <button class="ver-mas" onclick="window.location.href='/productDetail'">Ver Más</button>
                </div>
            </article>
            <article>
                <img src="img/remera_wilson.jpg" alt="Remera tenis" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$9.890</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Remera Wilson ATP</h4>
                    <button class="ver-mas" onclick="window.location.href='/productDetail'">Ver Más</button>
                </div>
            </article>
        </div>
        </section>


        <section class="productos-destacados">
            <h3>Ofertas</h3>
            <div class="productos-destacados">
                <article>
                    <img src="img/campera_fila.jpg" alt="Campera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$16.770</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Campera Fila Energy</h4>
                        <button class="ver-mas" onclick="window.location.href='/productDetail'">Ver Más</button>
                    </div>
                </article>
                <article>
                    <img src="img/short_adidas.jpg" alt="Short de futbol" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$12.700</p>
                        <p class="discount">15% off</p>
                        <h4 class="description">Short Argentina Adidas</h4>
                        <button class="ver-mas" onclick="window.location.href='/productDetail'">Ver Más</button>
                    </div>
                </article>
                <article>
                    <img src="img/zapatilla_nike.jpg" alt="Zapatillas" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">23.999</p>
                        <p class="discount">30% off</p>
                        <h4 class="description">Zapatillas Nike Air Max</h4>
                        <button class="ver-mas" onclick="window.location.href='/productDetail'">Ver Más</button>
                    </div>
                </article>
                <article>
                    <img src="img/remera_wilson.jpg" alt="Remera tenis" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$9.890</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Remera Wilson ATP</h4>
                        <button class="ver-mas" onclick="window.location.href='/productDetail'">Ver Más</button>
                    </div>
                </article>
            </div>
            </section>
        
    </main>


    <footer>
    <div>
        <img src="/img/Logo blanco.png" alt="logo">
    </div>
    <div class="elemento-footer">
        <h4> Nosotros </h4>
        <p>Acerca de Nosotros</p>
        <p>Contacto</p>
        <p>Sucursales</p>
        </div>
    <div class="elemento-footer">
    <h4> Más información </h4>
    <p>Medios de Pago</p>
    <p>Preguntas Frecuentes</p>
    <p>Políticas de envío</p>
    </div>
    <div class="elemento-footer">
        <h4> Seguinos </h4>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>

    
    
</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>