<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesWing</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
    <div class="logo">
    <img src="/img/pngwing.com.png" class="imagen-logo" alt="logo">
    <h2>ShoesWing</h2>
    </div>
    <nav class="top-navbar">
        <ul>
            <li type="none"><a href="">Inicio</a></li>
            <li type="none"><a href=""> Registrarse</a></li>
            <li type="none"><a href="/login"> Mi Cuenta</a></li>
        </ul>
        <ul>
            <li type="none" class="search-bar" ><form action="" class=""><input type="text" placeholder="Buscar..."><button type="sumbit"><i class="fa-solid fa-magnifying-glass"></i></button></form> </li>
            <li type="none"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
    </header>

    <main>
    <div class="banner">
    <img src="/img/img-home-banner.jpg" alt="banner">
    </div>
    <section class="colecciones">
    <h3>Colecciones</h3>
    <div class="imagenes-col">
    <img src="/img/Placeholder_view_vector.svg (1).png" alt="">
    </div>
    <div class="imagenes-col">
    <img src="/img/Placeholder_view_vector.svg (1).png" alt="">
    </div>
    </section>

    <section class="productos-destacados">
        <h3>Productos Destacados</h3>
        <div class="productos-destacados">
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
        </div>
        </section>
        
    </main>


    <footer>
    <div>
        <img src="/img/pngwing.com.png" alt="logo">
    </div>
    <div class="elemento-footer">
        <h4> Nosotros </h4>
        <p>Acerca de Nosotros</p>
        <p>Contacto</p>
        <p>Sucursales</p>
        </div>
    <div class="elemento-footer">
    <h4> Más información </h4>
    <p>Medios de Pago</p>
    <p>Preguntas Frecuentes</p>
    <p>Políticas de envío</p>
    </div>
    <div class="elemento-footer">
        <h4> Seguinos </h4>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>

    
    
</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>