<!DOCTYPE html>
<html lang="en">
    
    <%- include("./partials/head")  %> 

<body>

    <%- include("./partials/header")  %> 
    
    <main>
        <div class="banner">
            <img src="/img/banner-ejemplo.jpg" alt="banner">
        </div>

        <section class="colecciones">
            <h3>Colecciones</h3>
            <div class="imagenes-col">
                <img src="/img/coleccion-1.jpg" alt="">
                <h3>Deporte</h3>
            </div>
            <div class="imagenes-col">
                <img src="/img/coleccion-2.jpg" alt="">
                <h3>Urbano</h3>
            </div>
        </section>

        <section class="productos-destacados">
            <h3>Productos Destacados</h3>
            <div class="productos-destacados">
            
            <%- include("./partials/cards")  %> 

            </div>
        </section>


        <section class="productos-destacados">
            <h3>Ofertas</h3>
            <div class="productos-destacados">

            <%- include("./partials/cards2")  %>
                
            </div>
            </section>
        
    </main>


    <footer>
    <div>
        <img src="/img/Logo blanco.png" alt="logo">
    </div>
    <div class="elemento-footer">
        <h4> Nosotros </h4>
        <p><a href="/nosotros">Acerca de Nosotros</a></p>
        <p><a href="/contacto">Contacto</a></p>
    </div>
    <div class="elemento-footer">
        <h4> Más información </h4>
        <p><a href="/mediosDePago">Medios de Pago</a></p>
        <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
        <p><a href="/politicasEnvio">Políticas de envío</a></p>
    </div>
    <div class="elemento-footer">
        <h4> Seguinos </h4>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>

    
    
</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>