<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>
    
    <%- include("./partials/header")  %>
    
    <main>

        <div class="usuario">
            <label>Usuario</label>
            <input type="text" minlength="8" required placeholder="usuario">
        </div>

        <div class="password">
            <label>Contraseña</label>
            <input type="password" minlength="6" required placeholder="contraseña">
        </div>

        <div class="recordarme">
            <input type="checkbox"><label>Recordarme</label>
        </div>

        <div class="buttonIngresar">
            <a href="/" class="myButton" type="submit">Ingresar</a>
        </div>

    </main>

    <%- include ("./partials/footer") %> 
    
</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>