<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>
    
    <%- include("./partials/header")  %>
    
    <main>

        <div class="usuario">
            <label>Usuario</label>
            <input type="text" minlength="8" required placeholder="usuario">
        </div>

        <div class="password">
            <label>Contraseña</label>
            <input type="password" minlength="6" required placeholder="contraseña">
        </div>

        <div class="recordarme">
            <input type="checkbox"><label>Recordarme</label>
        </div>

        <div class="buttonIngresar">
            <a href="/" class="myButton" type="submit">Ingresar</a>
        </div>

    </main>

    <footer>
        <div>
            <img src="/img/Logo blanco.png" alt="logo">
        </div>
        <div class="elemento-footer">
            <div class="elemento-footer">
                <h4> Nosotros </h4>
                <p><a href="/nosotros">Acerca de Nosotros</a></p>
                <p><a href="/contacto">Contacto</a></p>
            </div>
            <div class="elemento-footer">
                <h4> Más información </h4>
                <p><a href="/mediosDePago">Medios de Pago</a></p>
                <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
                <p><a href="/politicasEnvio">Políticas de envío</a></p>
            </div>
        <div class="elemento-footer">
            <h4> Seguinos </h4>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            </div>
        </footer>
    
</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>