<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>

    <%- include("./partials/header")  %>
    
    <main>
        <section class="medios-de-pago">
            <h3>Medios de pago aceptados</h3>
            <p>Aceptamos todos los medios de pago disponibles! No te quedes sin comprar!</p>
            <img src="img/medios_pago.jpg" alt="Medios de pago" class="medios-pago">          
        </section>
        
    </main>

    <%- include ("./partials/footer") %> 
          
</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>