<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>

    <%- include("./partials/header")  %>
    
    <main>
        <section class="acerca-nosotros">
            <h3>Acerca de Nosotros</h3>
            <p>Somos una empresa moderna y joven que se dedica a la venta de articulos deportivos de alta calidad para los deportes y actividades más exigentes. Nos enfocamos en competiciones de alto rendimiento y también en el máximo bienestar para las actividades cotidianas.
            </p>
            <p>Nos proponemos acompañarte en todos tus movimientos, ofreciéndote el producto justo para tu estilo de vida y tus actividades. Tenemos algo pensado para vos, donde quiera que estés.</p>
        </section>
    </main>


    <footer>
    <div>
        <img src="/img/Logo blanco.png" alt="logo">
    </div>
    <div class="elemento-footer">
        <h4> Nosotros </h4>
        <p><a href="/nosotros">Acerca de Nosotros</a></p>
        <p><a href="/contacto">Contacto</a></p>
    </div>
    <div class="elemento-footer">
        <h4> Más información </h4>
        <p><a href="/mediosDePago">Medios de Pago</a></p>
        <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
        <p><a href="/politicasEnvio">Políticas de envío</a></p>
    </div>
    <div class="elemento-footer">
        <h4> Seguinos </h4>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>

    
    
</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>