<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>

    <%- include("./partials/header")  %>

    <main>
        <section class="envios">
            <h3>Políticas de Envío</h3>
            <p>Para completar su compra en una Tienda digital, debe proporcionar su nombre completo, dirección de correo electrónico, dirección de entrega válida y método de pago para realizar un pedido en línea. Tal vez necesitase ajustar las configuraciones de su dispositivo o configurar su navegador para que aceptase cookies funcionales y ventanas emergentes con el fin de poder usar todas las funcionalidades de la Tienda digital, lo que incluye funcionalidades como diseño de elementos personalizados, agregar artículos a su bolsa de compras y enviar su pedido.</p>
            <br>
            <p>Cuando enviase un pedido, le enviaremos un correo electrónico en el que acusaremos recibo de su pedido (la “Confirmación del pedido”). Nuestra aceptación de su pedido tiene lugar cuando se le envían los Productos. Le enviaremos un segundo correo electrónico mediante en el que confirmaremos que los Productos se despacharon. Si no pudiéramos suministrarle un producto, se lo informaremos por escrito y no procesaremos el pedido para dicho producto. </p>
            <br>
            <p>NUESTRO DERECHO DE RECHAZAR SU COMPRA O CANCELAR UN PEDIDO</p>
            <br>
            <p>La venta de productos y el cumplimiento de todos los pedidos en una Tienda SHOESWING están sujetos a disponibilidad y a nuestro criterio en la gestión del inventario. Nos reservamos explícitamente el derecho de limitar, negar o rechazar cualquier venta y pedido por cualquier motivo, sin ser responsables de ningún daño o costo que no fuese la cancelación de cualquier monto recibido de usted en relación con dicha venta o pedido.</p>
        </section>
        
    </main>

    <%- include ("./partials/footer") %> 
    
</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>