<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesWing Product Detail</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    
    <header>
        <div class="logo">
        <img src="/img/Logo shoes.png" class="imagen-logo" alt="logo">
        <h2>ShoesWing</h2>
        </div>
        <nav class="top-navbar">
            <ul>
                <li type="none"><a href="/">Inicio</a></li>
                <li type="none"><a href="/register"> Registrarse</a></li>
                <li type="none"><a href="/login"> Mi Cuenta</a></li>
            </ul>
            <ul>
                <li type="none" class="search-bar" ><form action="" class=""><input type="text" placeholder="Buscar..."><button type="sumbit"><i class="fa-solid fa-magnifying-glass"></i></button></form> </li>
                <li type="none"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        </header>

    <main class="main-carrito">
    <div class="top-bar">
            <i class="fas fa-arrow-left"></i>
            <a href="/">Volver a la tienda</a>
    </div>
    <section class="carrito">
    
    <div class="titulo-checkout">
    <h2>Tu Carrito</h2>
    <p>2 Items</p>
    </div>
    <div class="producto-carrito">
    <div class="contenedor-imagen-producto-carrito">
    <img src="/img/campera_fila.jpg" alt="" class="imagen-producto-carrito">
    </div>
    <div class="descripcion-producto">
    <h4>Campera Fila</h4>
    <h4>$825.00</h4>
    <p>Talle: S</p>
    <div class="cantidad-wrapper">
        <div>
            <label for="cantidad">Cantidad:</label>
            <select name="cantidad">
                <option value disabled>Seleccionar</option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <button class="btn-remove">Quitar</button>
			</div>
    </div>
    </div>
    </div>


    <div class="producto-carrito">
        <div class="contenedor-imagen-producto-carrito">
        <img src="/img/remera_wilson.jpg" alt="" class="imagen-producto-carrito">
        </div>
        <div class="descripcion-producto">
        <h4>Remera Wilson</h4>
        <h4>$825.00</h4>
        <p>Talle: XL</p>
        <div class="cantidad-wrapper">
            <div>
                <label for="cantidad">Cantidad:</label>
                <select name="cantidad">
                    <option value disabled>Seleccionar</option>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <button class="btn-remove">Quitar</button>
                </div>
        </div>
        </div>
        </div>

    </section>

    <section class="checkout">
        <div class="total-compra">
        <div class="subtotal">
			<p class="chico">Subtotal:</p>
			<p class="chico">$825.00</p>
		</div>
        <div class="envio">
            <label for="cantidad">Envío:</label>
            <select name="cantidad">
                <option value disabled>Seleccionar</option>
                <option value="1" selected>A domicilio ($1.000)</option>
                <option value="2">Retiro por sucursal (Gratis)</option>
            </select>
        </div>
        <div class="total">
			<h3>Total:</h3>
			<h3>$825.00</h3>
		</div>
        <button class="btn-go-checkout">
			<i class="fas fa-lock"></i>
			<span>Finalizar Compra</span>
		</button>
	    </div>
	    <div class="ayuda">
		   <p>Necesitas ayuda? Contactanos al 01234 567 890</p>
	    </div>
        
        
        </div>
    </section>
    
       
    </main>

    <footer>
        <div>
            <img src="/img/Logo blanco.png" alt="logo">
        </div>
        <div class="elemento-footer">
            <h4> Nosotros </h4>
            <p>Acerca de Nosotros</p>
            <p>Contacto</p>
            <p>Sucursales</p>
            </div>
        <div class="elemento-footer">
        <h4> Más información </h4>
        <p>Medios de Pago</p>
        <p>Preguntas Frecuentes</p>
        <p>Políticas de envío</p>
        </div>
        <div class="elemento-footer">
            <h4> Seguinos </h4>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            </div>
        </footer>

</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>