<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesWing Product Detail</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    
    <%- include("./partials/header")  %>
    <!-- <header>
        <div class="logo">
        <img src="/img/Logo shoes.png" class="imagen-logo" alt="logo">
        <h2>ShoesWing</h2>
        </div>
        <nav class="top-navbar">
            <ul>
                <li type="none"><a href="/">Inicio</a></li>
                <li type="none"><a href="/register"> Registrarse</a></li>
                <li type="none"><a href="/login"> Mi Cuenta</a></li>
            </ul>
            <ul>
                <li type="none" class="search-bar" ><form action="" class=""><input type="text" placeholder="Buscar..."><button type="sumbit"><i class="fa-solid fa-magnifying-glass"></i></button></form> </li>
                <li type="none"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        </header> -->

    <main>
        <article class="detalles-producto">
            <h3 class="titulo-detalle">Short Argentina Adidas</h3>
                
            <div class="foto-y-precio">
                <img src="img/short_adidas.jpg" alt="Short de futbol" class="detail-img">
                <div class="precio-detallado">
                    <h4 class="description-black">Short Argentina Adidas</h4>
                    <p class="price">$12.700</p>
                    <p class="discount">15% off</p>
                    <p class="texto-talles">Elegí tu talle</p>
                    <ul class="talles">
                        <li><a href=""></a>XS</li>
                        <li><a href=""></a>S</li>
                        <li><a href=""></a>M</li>
                        <li><a href=""></a>L</li>
                        <li><a href=""></a>XL</li>
                    </ul>
                    <form class="eleccion-cantidad" action="#">
                        <label for="cantidad">Cantidad</label>
                        <select name="cantidad-compra" id="cantidad">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                  </form>
                  <div class="botones">
                    <input class="boton-comprar" type="submit" value="Comprar">
                    <input class="boton-carrito" type="submit" value="Agregar al carrito">
                  </div>

                </div>
            </div>
            
            <div class="detalle-ampliado">
                <h4>Detalles del Producto</h4>
                <p>Ponete estos shorts de fútbol para jóvenes de Argentina con el resto del uniforme alternativo para conseguir el look perfecto para la cancha. Los tonos violeta representan la igualdad de género y la búsqueda de un mundo más justo. Su tejido ligero con tecnología de absorción AEROREADY se encarga de brindar comodidad dentro y fuera de la cancha.

                Este producto, hecho con materiales 100 % reciclados, representa solo una de las soluciones de adidas para ayudar a acabar con los residuos plásticos.</p>
                <ul class="caracteristicas-productos">
                    <li>Ajuste clásico con tiro medio.</li>
                    <li>Cintura elástica con cordón regulable.</li>
                    <li>Tejido entrelazado 100 % poliéster reciclado.</li>
                    <li>Tecnología de absorción AEROREADY.</li>
                    <li>Escudo de la Selección Argentina tejido.</li>
                    <li>Color del artículo: Legacy Indigo / Purple Rush. </li>   
                </ul>
            </div>
        </article>
    </main>

    <footer>
        <div>
            <img src="/img/Logo blanco.png" alt="logo">
        </div>
        <div class="elemento-footer">
            <h4> Nosotros </h4>
            <p><a href="/nosotros">Acerca de Nosotros</a></p>
            <p><a href="/contacto">Contacto</a></p>
        </div>
        <div class="elemento-footer">
            <h4> Más información </h4>
            <p><a href="/mediosDePago">Medios de Pago</a></p>
            <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
            <p><a href="/politicasEnvio">Políticas de envío</a></p>
        </div>
        <div class="elemento-footer">
            <h4> Seguinos </h4>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            </div>
        </footer>

</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>