<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesWing Product Detail</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    
    <header>
        <div class="logo">
            <img src="/img/pngwing.com.png" class="imagen-logo" alt="logo">
            <h2>ShoesWing</h2>
        </div>
        <nav class="top-navbar">
            <ul>
                <li type="none"><a href="">Inicio</a></li>
                <li type="none"><a href=""> Registrarse</a></li>
                <li type="none"><a href=""> Mi Cuenta</a></li>
                <li type="none" class="search-bar" ><form action="" class=""><input type="text" placeholder="Busca productos,marcas y mas"><button type="sumbit"><i class="fa-solid fa-magnifying-glass"></i></button></form> </li>
                <li type="none"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

    </header>

    <main>
        <article class="detalles-producto">
            <h3 class="titulo-detalle">Short Argentina Adidas</h3>
                
            <div class="foto-y-precio">
                <img src="img/short_adidas.jpg" alt="Short de futbol" class="detail-img">
            </div>
            
            <div class="detalle-ampliado">
                <h4>Detalles del Producto</h4>
                <p>Ponete estos shorts de fútbol para jóvenes de Argentina con el resto del uniforme alternativo para conseguir el look perfecto para la cancha. Los tonos violeta representan la igualdad de género y la búsqueda de un mundo más justo. Su tejido ligero con tecnología de absorción AEROREADY se encarga de brindar comodidad dentro y fuera de la cancha.

                Este producto, hecho con materiales 100 % reciclados, representa solo una de las soluciones de adidas para ayudar a acabar con los residuos plásticos.</p>
                <ul class="caracteristicas-productos">
                    <li>Ajuste clásico con tiro medio.</li>
                    <li>Cintura elástica con cordón regulable.</li>
                    <li>Tejido entrelazado 100 % poliéster reciclado.</li>
                    <li>Tecnología de absorción AEROREADY.</li>
                    <li>Escudo de la Selección Argentina tejido.</li>
                    <li>Color del artículo: Legacy Indigo / Purple Rush. </li>   
                </ul>
            </div>
        </article>
    </main>

    <footer>
        <div>
            <img src="/img/pngwing.com.png" alt="logo">
        </div>
        <div class="elemento-footer">
            <p>Lorem ipsum dolor sit </p>
            <p>Lorem ipsum dolor sit </p>
        </div>
        <div class="elemento-footer">
            <p>Lorem ipsum dolor sit </p>
            <p>Lorem ipsum dolor sit </p>
        </div>
    </footer>

</body>