<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>
    
    <%- include("./partials/header")  %>
    
    <main class="main-carrito">
    <div class="top-bar">
            <i class="fas fa-arrow-left"></i>
            <a href="/">Volver a la tienda</a>
    </div>
    <section class="carrito">
    
    <div class="titulo-checkout">
    <h2>Tu Carrito</h2>
    <p>2 Items</p>
    </div>
    <div class="producto-carrito">
    <div class="contenedor-imagen-producto-carrito">
    <img src="/img/campera_fila.jpg" alt="" class="imagen-producto-carrito">
    </div>
    <div class="descripcion-producto">
    <h4>Campera Fila</h4>
    <h4>$825.00</h4>
    <p>Talle: S</p>
    <div class="cantidad-wrapper">
        <div>
            <label for="cantidad">Cantidad:</label>
            <select name="cantidad">
                <option value disabled>Seleccionar</option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <button class="btn-remove">Quitar</button>
			</div>
    </div>
    </div>
    </div>


    <div class="producto-carrito">
        <div class="contenedor-imagen-producto-carrito">
        <img src="/img/remera_wilson.jpg" alt="" class="imagen-producto-carrito">
        </div>
        <div class="descripcion-producto">
        <h4>Remera Wilson</h4>
        <h4>$825.00</h4>
        <p>Talle: XL</p>
        <div class="cantidad-wrapper">
            <div>
                <label for="cantidad">Cantidad:</label>
                <select name="cantidad">
                    <option value disabled>Seleccionar</option>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <button class="btn-remove">Quitar</button>
                </div>
        </div>
        </div>
        </div>

    </section>

    <section class="checkout">
        <div class="total-compra">
        <div class="subtotal">
			<p class="chico">Subtotal:</p>
			<p class="chico">$825.00</p>
		</div>
        <div class="envio">
            <label for="cantidad">Envío:</label>
            <select name="cantidad">
                <option value disabled>Seleccionar</option>
                <option value="1" selected>A domicilio ($1.000)</option>
                <option value="2">Retiro por sucursal (Gratis)</option>
            </select>
        </div>
        <div class="total">
			<h3>Total:</h3>
			<h3>$825.00</h3>
		</div>
        <button class="btn-go-checkout">
			<i class="fas fa-lock"></i>
			<span>Finalizar Compra</span>
		</button>
	    </div>
	    <div class="ayuda">
		   <p>Necesitas ayuda? Contactanos al 01234 567 890</p>
	    </div>
        
        
        </div>
    </section>
    
       
    </main>

    <footer>
        <div>
            <img src="/img/Logo blanco.png" alt="logo">
        </div>
        <div class="elemento-footer">
            <h4> Nosotros </h4>
            <p><a href="/nosotros">Acerca de Nosotros</a></p>
            <p><a href="/contacto">Contacto</a></p>
        </div>
        <div class="elemento-footer">
            <h4> Más información </h4>
            <p><a href="/mediosDePago">Medios de Pago</a></p>
            <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
            <p><a href="/politicasEnvio">Políticas de envío</a></p>
        </div>
        <div class="elemento-footer">
            <h4> Seguinos </h4>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            </div>
        </footer>

</body>

<script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
</html>