<!DOCTYPE html>
<html lang="en">

    <%- include ("./partials/head") %> 

<body>

    <%- include("./partials/header")  %>
    
    <main>

        <div class="nombre">
            <label>Nombre</label> <input type="text" name="nombre" placeholder="Nombre" required>
        </div>

        <div class="apellido">
            <label>Apellido</label> <input type="text" name="apellido" placeholder="Apellido" required>
        </div>

        <div class="email">
            <label>Email</label> <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="fechaDeNacimiento">
            <label>Fecha de nacimiento</label> <input type="date" name="fechaDeNacimiento">
        </div>

        <div class="domicilio">
            <label >Domicilio</label> <input type="text" name="domicilio" placeholder="Domicilio" required>
        </div>

        <div class="password">
            <label>Contraseña</label> <input type="password" name="password" placeholder="Elegí tu contraseña" required minlength="6">
        </div>

        <div class="confirmPassword">
            <label>Confirmar contraseña</label> <input type="password" name="password" placeholder="Confirmá tu contraseña" required minlength="6">
        </div>

        <div class="buttomRegistrarse">
            <a href="/" class="myButtonRegister" type="submit">Registrarse</a>
        </div>

        <div class="buttomBorrar">
            <a href="/" class="myButtonBorrar" type="reset">Borrar</a>
        </div>

    </main>

    <footer>

        <div>
            <img src="/img/Logo blanco.png" alt="logo">
        </div>

        <div class="elemento-footer">
            <h4> Nosotros </h4>
            <p><a href="/nosotros">Acerca de Nosotros</a></p>
            <p><a href="/contacto">Contacto</a></p>
        </div>
        <div class="elemento-footer">
            <h4> Más información </h4>
            <p><a href="/mediosDePago">Medios de Pago</a></p>
            <p><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></p>
            <p><a href="/politicasEnvio">Políticas de envío</a></p>
        </div>
        <div class="elemento-footer">
            <h4> Seguinos </h4>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>

</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>