* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 header {
    display: flex;
    background: whitesmoke;
    margin-bottom: 10px;
    padding-top: 10px;
}

body{
    background-color: #FFFFFF;
}

/*  header  */


header {
    display: flex;
    background: whitesmoke;
    padding-top: 10px;
    margin: auto;
}

.logo {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.imagen-logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.top-navbar {
    display: none;
}


.search-bar form { 
    background: whitesmoke;
    display: inline;
    align-items: center;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 5px;
    border: solid 2px #FFF;
    margin: auto;
}




 .search-bar input {
    
    background: whitesmoke;
    border: 0;
    outline: none;

}

.search-bar button {
    border: 0;
    border-radius: 50%;
    background: whitesmoke;

}

.search-bar button i{
    border: 0;
    border-radius: 50%;
    background: whitesmoke;

}

div.burger-menu {
    text-align: right;
    margin: auto;
}

div.burger-menu i {
    background-color: #242F40;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

main{
    width: 100%;
    box-sizing: border-box;
}

.usuario{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.usuario label{
    margin-bottom: 5px;
}

.usuario input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

.password{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.password label{
    margin-bottom: 5px;
}

.password input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

.recordarme{
    display: flex;
    justify-content: center;
}

.buttonIngresar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#242F40;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}
.myButton:hover {
	background-color: #003566;
    transition: 0.5s;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #003566;
    margin-top: 20px;
    margin: auto;
}

footer div img {
    width: 50px;
    height: 50px;
    flex: 10%;
    margin: 10px;
    text-align: center;

}

.elemento-footer {
    margin: 10px;
    text-align: center;
    color: white;
}

@media (min-width: 420px) {

    header {
        display: block;
    }

    .top-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background: #E5E5E5;
        box-shadow: 1px 7px 16px -7px rgba(0,0,0,0.75);
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-navbar ul li {
        margin: 5px;
        font-size: 18px;
    }

     a{
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .search-bar input { 
        font-size: 20px; 
    }

    div.burger-menu i {
        font-size: 20px;
    }

}


@media (min-width: 670px) {

    /* header */

    header {
        display: block;
    }

    .top-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: #E5E5E5;
        box-shadow: 1px 7px 16px -7px rgba(0,0,0,0.75);
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-navbar ul li {
        margin: 5px;
        font-size: 18px;
    }

     a{
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .search-bar input { 
        font-size: 20px; 
    }

    div.burger-menu i {
        font-size: 20px;
    }

    .usuario{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .usuario input{
        width: 50%;
        height: 30px;
    }

    .password{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .password input{
        width: 50%;
        height: 30px;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

}