* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 header {
    display: flex;
    background: whitesmoke;
    margin-bottom: 10px;
    padding-top: 10px;
}

body{
    background-color: #FFFFFF;
}

/*  header  */


header {
    display: flex;
    background: whitesmoke;
    padding-top: 10px;
    margin: auto;
}

.logo {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.imagen-logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.top-navbar {
    display: none;
}


.search-bar form { 
    background: whitesmoke;
    display: inline;
    align-items: center;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 5px;
    border: solid 2px #FFF;
    margin: auto;
}




 .search-bar input {
    
    background: whitesmoke;
    border: 0;
    outline: none;

}

.search-bar button {
    border: 0;
    border-radius: 50%;
    background: whitesmoke;

}

.search-bar button i{
    border: 0;
    border-radius: 50%;
    background: whitesmoke;

}

div.burger-menu {
    text-align: right;
    margin: auto;
}

div.burger-menu i {
    background-color: #242F40;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/* Main */
main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nombre label{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.nombre input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

.apellido{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.apellido label{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.apellido input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

.email{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email label{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.email input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

.fechaDeNacimiento{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fechaDeNacimiento label{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.fechaDeNacimiento input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

.domicilio{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.domicilio label{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.domicilio input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

.password{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password label{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.password input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

.confirmPassword{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.confirmPassword label{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.confirmPassword input{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #242F40;
    border-radius: 8px;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #003566;
    margin-top: 20px;
    margin: auto;
}

footer div img {
    width: 50px;
    height: 50px;
    flex: 10%;
    margin: 10px;
    text-align: center;

}

.elemento-footer {
    margin: 10px;
    text-align: center;
    color: white;
}

@media (min-width: 420px) {

    header {
        display: block;
    }

    .top-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background: #E5E5E5;
        box-shadow: 1px 7px 16px -7px rgba(0,0,0,0.75);
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-navbar ul li {
        margin: 5px;
        font-size: 18px;
    }

     a{
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .search-bar input { 
        font-size: 20px; 
    }

    div.burger-menu i {
        font-size: 20px;
    }

    .nombre{
        align-items: center;
    }

    .nombre input{
        width: 70%;
    }

    .apellido{
        align-items: center;
    }

    .apellido input{
        width: 70%;
    }

    .email{
        align-items: center;
    }

    .email input{
        width: 70%;
    }

    .fechaDeNacimiento{
        align-items: center;
    }

    .fechaDeNacimiento input{
        width: 70%;
    }

    .domicilio{
        align-items: center;
    }

    .domicilio input{
        width: 70%;
    }

    .password{
        align-items: center;
    }

    .password input{
        width: 70%;
    }

    .confirmPassword{
        align-items: center;
    }

    .confirmPassword input{
        width: 70%;
    }
}

@media (min-width: 670px) {

    /* header */

    header {
        display: block;
    }

    .top-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: #E5E5E5;
        box-shadow: 1px 7px 16px -7px rgba(0,0,0,0.75);
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-navbar ul li {
        margin: 5px;
        font-size: 18px;
    }

     a{
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .search-bar input { 
        font-size: 20px; 
    }

    div.burger-menu i {
        font-size: 20px;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

}