* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{

    background-color: #E5E5E5;
}

main{
    margin: auto;
}

/* header */

header {
    display: flex;
    background: whitesmoke;
    padding-top: 10px;
    margin: auto;
}

.logo {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.imagen-logo {
    width: 100px;
    height: 100px;
}

.top-navbar {
    display: none;
    
}


.search-bar form { 
    background: whitesmoke;
    display: inline;
    align-items: center;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 5px;
    border: solid 2px #FFF;
    margin: auto;
}


 .search-bar input {
    
    background: whitesmoke;
    border: 0;
    outline: none;

}

.search-bar button {
    border: 0;
    border-radius: 50%;
    background: whitesmoke;

}

.search-bar button i{
    border: 0;
    border-radius: 50%;
    background: whitesmoke;

}

div.burger-menu {
    text-align: right;
    margin: auto;
}

div.burger-menu i {
    background-color: #242F40;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.top-navbar ul li a{
    transition: all 450ms;

}

.top-navbar ul li a:hover {
    color: #FFC300;
}

/* main */

div.banner {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

div.banner img{
    width: 100%;
    box-sizing: border-box;
}

section {
    margin: 40px 0;
}

section h3 {
    font-weight: bolder;
}

section.colecciones h3 {
    text-align: left;
}

.imagenes-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

div.imagenes-col h3 {
    text-align: center;
    position: absolute;
    top: 50;
    visibility: hidden;
    transition: all 450ms;
}

div.imagenes-col:hover img {
    background: black;
    opacity: 0.1;
}

div.imagenes-col:hover h3 {
    visibility: visible;
    color: rgb(0, 0, 0);
}

.colecciones h3 {
    width: 100%;
    text-align: center;
    margin: 15px 20px;
}

section.colecciones div img {
    width: 80%;
    height: 150px;
}

/* productos destacados */

section.productos-destacados h3 {
    margin: 10px 20px;
}


.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.description{
    color: #666;
}

.description{
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main section article{
    background-color: #fff;    
    margin: 20px 20px;
}

main section article img{
    width: 100%;
}

main section article i
{
    color: white;
}

.discount {
    color: #FFC300;
}

.main-article {
    position: relative;
    background: #003566;
}

main section article i{
        text-align: center;
        display: block;
        font-size: 15px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #FFC300;
        background-color: #FFC300;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        box-sizing: border-box;
        margin: auto;
        }

        main section article .price, .description {
            color: white;
        }

        article div.main-article{
            width: 100%;
            border-top: 1px solid #ebebeb;
            padding: 15px;
        }

        .ver-mas {
            border-radius: 5px;
            padding: 6.5px;
            border: 0px;
            background: #FFC300;
            transition: all 450ms;
            color: black;
            margin: 10px 0;
        }


/* footer */

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #003566;
    margin-top: 20px;
    margin: auto;
}

footer div img {
    width: 50px;
    height: 50px;
    flex: 10%;
    margin: 10px;
    text-align: center;

}

.elemento-footer {
    margin: 10px;
    text-align: center;
    color: white;
}

footer div i {
    color: #FFC300;
}

/* productDetail */

ul.caracteristicas-productos {
    list-style-type: disc;
    list-style-position: inside;
    display: block;
}

h3.titulo-detalle {
    font-size: 24px;
    text-decoration-color: black;
}

div.description-black {
    color: black;
}

.detail-img {
    max-width: 50%;
    margin: 0 25px 10px 0;
}

.detalles-producto {
    padding: 20px;
}

.eleccion-cantidad {
    margin: 10px 0px;
}

.foto-y-precio {
    display: flex;
    align-items: flex-start;
}

.talles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.texto-talles {
    margin: 5px 0px;
}

.talles li {
    list-style-type: none;
    margin: 5px;
    padding: 2px;
    background-color: #fff;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

.precio-detallado {
    width: 50%;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    flex-wrap: wrap;
}

.boton-comprar {
    border-radius: 5px;
    padding: 6.5px;
    border: 0px;
    background: #FFC300;
    transition: all 450ms;
    color: black;
    margin: 0 10px 5px 0;
}

.boton-carrito {
    border-radius: 5px;
    padding: 6.5px;
    border: 2px;
    border-color: #FFC300;
    background-color: #FFF;
    transition: all 450ms;
    color: black;
    margin: 0 10px 5px 0;
}

@media (min-width: 420px) {

    header {
        display: block;
    }

    .top-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background: #E5E5E5;
        box-shadow: 1px 7px 16px -7px rgba(0,0,0,0.75);
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-navbar ul li {
        margin: 5px;
        font-size: 18px;
    }

     a{
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .search-bar input { 
        font-size: 20px; 
    }

    div.burger-menu i {
        font-size: 20px;
    }

}

@media (min-width: 670px) {

    /* header */

    header {
        display: block;
    }

    .top-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: #E5E5E5;
        box-shadow: 1px 7px 16px -7px rgba(0,0,0,0.75);
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-navbar ul li {
        margin: 5px;
        font-size: 18px;
    }

     a{
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .search-bar input { 
        font-size: 20px; 
    }

    div.burger-menu i {
        font-size: 20px;
    }

    /* colecciones */

    section.colecciones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
    }

    div.imagenes-col {
        flex: 40%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.imagenes-col img,
    .detail-img {
        box-shadow: 1px 7px 16px -7px rgba(0,0,0,0.75);
    }

    div.imagenes-col h3 {
        text-align: center;
        position: absolute;
        top: 50;
        visibility: hidden;
        transition: all 450ms;
    }

    div.imagenes-col:hover img {
        background: black;
        opacity: 0.6;
    }

    div.imagenes-col:hover h3 {
        visibility: visible;
        color: #363636;
    }



    /* productos destacados */

    main section article {
        background-color: #fff;
         margin: 10px 10px; 
    }

div.productos-destacados {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     flex-direction: row;
}

article {
    flex: 35%;
    justify-content: space-around;
}

    main section article .description{
        display: block;
    }


    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }



    /* footer */

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }


}

@media (min-width: 761px) {

    div.productos-destacados {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
   }

   article {
    flex: 30%;
   }


   

}