<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %> 

    <link rel="stylesheet" href="/css/style.css">

<body>
    
    <%- include("../partials/header")  %>
    
    <main>

        <div class="loginUser">
            <label>Usuario</label>
            <input type="text" minlength="8" required placeholder="usuario">
        </div>

        <div class="loginPassword">
            <label>Contraseña</label>
            <input type="password" minlength="6" required placeholder="contraseña">
        </div>

        <div class="loginRemember">
            <input type="checkbox"><label>Recordarme</label>
        </div>

        <div class="loginButtonIngresar">
            <a href="/" class="myButtonLogin" type="submit">Ingresar</a>
        </div>

    </main>

    <%- include ("../partials/footer") %> 
    
</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>