<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %> 

    <link rel="stylesheet" href="/css/style.css">

<body>
    
    <%- include("../partials/header")  %>
    
    <main>

        <form action="/login" method="POST" class="formLogin">

        <div class="loginUser">
            <label>Usuario</label>
            <input type="email" minlength="8" required placeholder="email" name="email" id="email">
        </div>
        <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
               <%= errors.email.msg %> 
            </div>
           <% } %>

        <div class="loginPassword">
            <label>Contraseña</label>
            <input type="password" minlength="6" required placeholder="contraseña" name="password" id="password">
        </div>

        <div class="loginRemember">
            <input type="checkbox" name="remember_user"><label>Recordarme</label>
        </div>
        <div class="loginButtonIngresar">
        <input class="myButtonLogin" type="submit" value="Ingresar">
        </div>
    </form>

    </main>

    <%- include ("../partials/footer") %> 
    
</body>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>
    <script src="/js/login.js"></script>

</html>