<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/head") %> 

    <link rel="stylesheet" href="/css/style.css">

<body>

    <%- include("../partials/header")  %>
    
    <main>

        <div class="registerName">
            <label>Nombre</label> <input type="text" name="nombre" placeholder="Nombre" required>
        </div>

        <div class="registerSurname">
            <label>Apellido</label> <input type="text" name="apellido" placeholder="Apellido" required>
        </div>

        <div class="registerEmail">
            <label>Email</label> <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="registerBirthday">
            <label>Fecha de nacimiento</label> <input type="date" name="fechaDeNacimiento">
        </div>

        <div class="registerAddres">
            <label >Domicilio</label> <input type="text" name="domicilio" placeholder="Domicilio" required>
        </div>

        <div class="registerPassword">
            <label>Contraseña</label> <input type="password" name="password" placeholder="Elegí tu contraseña" required minlength="6">
        </div>

        <div class="registerConfirmPassword">
            <label>Confirmar contraseña</label> <input type="password" name="password" placeholder="Confirmá tu contraseña" required minlength="6">
        </div>

        <div class="registerButtom">
            <a href="/" class="myButtonRegister" type="submit">Registrarse</a>
        </div>

        <div class="registerButtomBorrar">
            <a href="/" class="myButtonBorrar" type="reset">Borrar</a>
        </div>

    </main>

    <%- include ("../partials/footer") %> 

</body>

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</html>